@model test3.Models.sale

@{
    ViewData["Title"] = "รายการอาหาร";
}
<link rel="stylesheet" type="text/css" href="~/css/test.css" />
<h2>สั่งอาหาร</h2>


<p>
    <a asp-action="Create">เพิ่มอาหาร</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>รหัส</th>
            <th>ราคาอาหาร</th>

        </tr>
    </thead>
    <tbody>

        <tr>
            <td>รหัสสินค้า : @Model.saleID</td>
            <td>ราคาอาหาร : @Model.Sale</td>
        </tr>


    </tbody>

</table>