@model test3.Models.Customers



@{
    ViewData["Title"] = "รายการอาหาร";
}
<link rel="stylesheet" type="text/css" href="~/css/test.css" />
<h2>สั่งอาหาร</h2>


<p>
    <a asp-action="Create">เพิ่มอาหาร</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>รหัส</th>
            <th>ชื่ออาหาร</th>
            <th>ราคาอาหาร</th>

        </tr>
    </thead>
    <tbody>

        <tr>
            <td>รหัสสินค้า : @Model.ID</td>
            <td>ชื่ออาหาร : @Model.Name</td>
            <td>ราคาสินค้า : @Model.Price</td>
            <td><label asp-for="Price" class="col-md-2">จำนวน</label></td>
            <td>  <input asp-for="" /> : ชิ้น</td>
            <td><a asp-action="Buy" asp-route-id="@Model.ID"> ซื้อ</a></td>
        </tr>


    </tbody>

</table>